# Maven
target/
*.jar
!**/src/**/*.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse / VS Code
.classpath
.project
.settings/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
